name: CI + Auto Tag

on:
  push:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    permissions:
      contents: write # necessário para criar tags

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # necessário para detectar tags anteriores

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Cache Go build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install dependencies
        run: go mod download

      - name: Run go fmt
        run: |
          fmt_out=$(go fmt ./...)
          if [ -n "$fmt_out" ]; then
            echo "The following files are not formatted:"
            echo "$fmt_out"
            exit 1
          fi

      - name: go vet
        run: go vet ./...

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --timeout=3m

      - name: Run tests with coverage
        run: go test ./... -coverprofile=coverage.out -covermode=atomic

      - name: Auto Semver Tag
        id: semver
        run: |
          # pega último tag ou assume v0.0.0
          LAST_TAG=$(git describe --tags --abbrev=0 2>/dev/null || echo "v0.0.0")
          echo "Último tag encontrado: $LAST_TAG"

          # lê commits desde o último tag
          COMMITS=$(git log ${LAST_TAG}..HEAD --pretty=format:"%s")

          # extrai numeros
          VERSION=${LAST_TAG#v}
          IFS='.' read -r MA MI PA <<< "$VERSION"

          BUMP="patch"

          # decisão de versão
          if echo "$COMMITS" | grep -q "BREAKING CHANGE"; then
            BUMP="major"
          elif echo "$COMMITS" | grep -q "^feat"; then
            BUMP="minor"
          elif echo "$COMMITS" | grep -q "^fix"; then
            BUMP="patch"
          fi

          if [ "$BUMP" = "major" ]; then
            MA=$((MA+1)); MI=0; PA=0
          elif [ "$BUMP" = "minor" ]; then
            MI=$((MI+1)); PA=0
          else
            PA=$((PA+1))
          fi

          NEW_TAG="v${MA}.${MI}.${PA}"
          echo "NEW_TAG=$NEW_TAG" >> $GITHUB_OUTPUT
          echo "Gerando novo tag: $NEW_TAG"

      - name: Push tag
        env:
          NEW_TAG: ${{ steps.semver.outputs.NEW_TAG }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git tag "$NEW_TAG"
          git push origin "$NEW_TAG"

      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage.out
